* {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.chats {
  flex: 1;
  background: purple;
  z-index: 1;
  // display: absolute;
}

.board {
  flex: 4;
  background: url('https://st4.depositphotos.com/2430771/20565/v/450/depositphotos_205657476-stock-illustration-gray-concrete-tiles-seamless-texture.jpg');
  overflow: hidden;
}

.board_panel {
  cursor: grab;
  height: 2500px;
  width: 4000px;
  transform-origin: 0% 0%;
  -webkit-box-shadow: 0px 0px 129px -37px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 129px -37px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 129px -37px rgba(0,0,0,0.75);
  border-radius: 10px;
  background: url('https://cdn.dribbble.com/users/69156/screenshots/2398680/icq_pttrn3.png');
}

